<section class="resume-section summary-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
    <div class="resume-section-content">
        <p class="mb-0">
            <ul>
                <li>
                    Accomplished professional with over <strong>10</strong> years of experience in the business application sphere of the IT industry focused on Cloud and Enterprise technologies: <strong>Salesforce</strong>, <strong>Force.com</strong>, <strong>Apex</strong>, <strong>Lightning</strong>.
                </li>
                <li>
                    Broad experience in Salesforce CRM and other Salesforce products: Service Cloud, Sales Cloud, Health Cloud, Community Cloud and others.
                </li>
                <li>
                    Hands-on experience with customer requirements’ analysis, software design, application development, systems integration, and production support.
                </li>
                <li>
                    Excellent development skills, strong lead and architect skills.
                </li>
                <li>
                    Problem solving, trouble shooting and communication skills with strong focus on client satisfaction.
                </li>
                <li>
                    Successful managing of the development teams (of up to 5 engineers).
                </li>
                <li>
                    Successfully completed more than <strong>50</strong> projects on the Salesforce CRM and Force.com platform.
                </li>
                <li>
                    Experience of technical documentation creation and end-users training.
                </li>
            </ul>
        </p>
    </div>
</section><!--//summary-section-->