<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">
            <article class="resume-timeline-item position-relative pb-5">

                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">Salesfoce Solution Architect</h3>
                        <div class="resume-company-name ml-auto">JET BI</div>
                    </div><!--//row-->
                    <div class="resume-position-time">2017 - Present</div>
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Responsibilities:</h4>
                    <ul>
                        <li>Worked closely with enterprise delivery managers and functional solution architects as well as directly with clients to architect technology solutions to meet client needs.</li>
                        <li>Architected and designed end-to-end sales automation processes.</li>
                        <li>Led and mentored the development team on the project.</li>
                        <li>Set up a continuous integration for Salesforce.com code delivery and testing.</li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Project:</h4>
                    <p>Advantage – enhancement for Salesforce CRM which allows gathering information about the market situation and competitor offerings, important market events monitoring, and using this information to:</p>
                    <ul>
                        <li>develop a smart marketing strategy</li>
                        <li>react quickly to changes in the market</li>
                        <li>win the deals</li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Salesforce</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">APEX</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Lightning Components</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">AppExchange</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Product Development</span></li>
                    </ul>
                </div><!--//resume-timeline-item-desc-->

            </article><!--//resume-timeline-item-->

            <article class="resume-timeline-item position-relative pb-5">

                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">Cloud Architect</h3>
                        <div class="resume-company-name ml-auto">PARX</div>
                    </div><!--//row-->
                    <div class="resume-position-time">2015 - 2017</div>
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Responsibilities:</h4>
                    <ul>
                        <li>Implemented Sales Cloud for a healthcare company.</li>
                        <li>Analyzed business requirements and prepared architectural design.</li>
                        <li>Architected and built enterprise-grade applications on the Salesforce platform.</li>
                        <li>Implemented sales process automation UI using Lightning Framework.</li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Project 1:</h4>
                    <p>Automation of Provider Management and Hearing Aids Sales Processes based on the Salesforce Sales Cloud.</p>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Project 2:</h4>
                    <p>Automation Interviewers selection and admission process based on Salesforce Classic UI.</p>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Salesforce</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">APEX</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Visualforce</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Lightning Framework</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Sales Cloud</span></li>
                    </ul>
                </div><!--//resume-timeline-item-desc-->

            </article><!--//resume-timeline-item-->

            <article class="resume-timeline-item position-relative">

                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">Lead Salesforce Developer</h3>
                        <div class="resume-company-name ml-auto">VRP Consulting</div>
                    </div><!--//row-->
                    <div class="resume-position-time">2012 - 2015</div>
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Responsibilities:</h4>
                    <ul>
                        <li>Worked with Salesforce, Apex, and Visualforce.</li>
                        <li>Developed Apex Triggers and Visualforce apps based on the client requirements.</li>
                        <li>Developed REST and SOAP API integrations between Salesforce.com and internal customer applications.</li>
                        <li>Supported and mentored a team of developers.</li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Project:</h4>
                    <p>Online Store implementation on Salesforce and integrated with SAP ERP and GE Centricity systems.</p>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Salesforce</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">APEX</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Visualforce</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">SOAP/REST API</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Service Cloud</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Community Cloud</span></li>
                    </ul>
                </div><!--//resume-timeline-item-desc-->
            </article><!--//resume-timeline-item-->
        </div><!--//resume-timeline-->
    </div>
</section><!--//experience-section-->