<section class="resume-section skills-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
    <div class="resume-section-content">
        <div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Salesforce</h4>
            <ul class="list-unstyled mb-4">
                <li class="mb-2">
                    <div class="resume-skill-name">Sales Cloud</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="resume-skill-name">Service Cloud</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="resume-skill-name">Field Service Lightning</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="resume-skill-name">Community Cloud</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="resume-skill-name">Lightning Framework</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="resume-skill-name">Visualforce</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div><!--//resume-skill-item-->

        <div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
            <ul class="list-unstyled">
                <li class="mb-2">
                    <div class="resume-skill-name">Apex</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="resume-skill-name">Java</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mb-2">
                    <div class="resume-skill-name">C#</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div><!--//resume-skill-item-->

        <h4 class="resume-skills-cat font-weight-bold">Others</h4>
            <div class="resume-skill-item">
            <ul class="list-inline">
                <li class="list-inline-item"><span class="badge badge-light">Salesforce CPQ</span></li>
                <li class="list-inline-item"><span class="badge badge-light">DocuSign</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Conga Composer</span></li>
                <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Jenkins</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Salesforce DX</span></li>
                <li class="list-inline-item"><span class="badge badge-light">SOQL/SOSL</span></li>
                <li class="list-inline-item"><span class="badge badge-light">REST/SOAP</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Heroku</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Amazon AWS</span></li>
                <li class="list-inline-item"><span class="badge badge-light">SSO</span></li>
            </ul>
        </div><!--//resume-skill-item-->
    </div><!--resume-section-content-->
</section><!--//skills-section-->